@import "bootstrap";


    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
       background: #f6f5f7;
    }
    #map {
      height: 300%;
    }

    .clear {
    clear: both;
}
 
blockquote {
    background: #f4eff5;
    border-left: 10px solid rgb(85, 64, 64);
    margin: 1.5em 10 px;
    padding: .5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
  width: 100%;
}

.carousel-item.active, 
.carousel-item-next, 
.carousel-item-prev {
  display: block;
}